In [40]:
import pandas as pd

In [41]:
import os
os.chdir(r"C:\Users\User\Desktop\AI-ML\Day 27")

In [42]:
dataset=pd.read_csv("train.csv")
dataset.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
884,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
885,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
886,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,45.0,1,2,W./C. 6607,23.45,NaN,S
887,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
888,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [43]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.5+ KB

In [44]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
le=preprocessing.LabelEncoder()
dataset['Sex']=le.fit_transform(dataset['Sex'])
dataset['Embarked']=le.fit_transform(dataset['Embarked'])

In [45]:
from sklearn import neighbors
import numpy as np

In [46]:
y=dataset['Pclass']
X=dataset.drop(['Pclass','PassengerId','Name','Ticket','Cabin'],axis=1)

In [47]:
 X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [48]:
y_test.size

178

In [70]:
score_list=[]

In [71]:
for i in range(1,y_test.size):
    knn=neighbors.KNeighborsClassifier(n_neighbors=i)
    scr=knn.fit(X_train,y_train).score(X_test,y_test)
    score_list.append(scr)

In [72]:
print(score_list)

[0.8707865168539326, 0.8595505617977528, 0.8764044943820225, 0.8370786516853933, 0.848314606741573, 0.8426966292134831, 0.8314606741573034, 0.8089887640449438, 0.8314606741573034, 0.8370786516853933, 0.8089887640449438, 0.8370786516853933, 0.8258426966292135, 0.8314606741573034, 0.8258426966292135, 0.8314606741573034, 0.8258426966292135, 0.8202247191011236, 0.8089887640449438, 0.8146067415730337, 0.797752808988764, 0.8089887640449438, 0.8146067415730337, 0.8033707865168539, 0.8089887640449438, 0.8089887640449438, 0.7865168539325843, 0.797752808988764, 0.7865168539325843, 0.797752808988764, 0.7808988764044944, 0.7808988764044944, 0.7752808988764045, 0.7752808988764045, 0.7752808988764045, 0.7808988764044944, 0.7752808988764045, 0.7752808988764045, 0.7752808988764045, 0.7808988764044944, 0.7808988764044944, 0.7865168539325843, 0.7696629213483146, 0.7696629213483146, 0.7696629213483146, 0.7640449438202247, 0.7696629213483146, 0.7752808988764045, 0.7696629213483146, 0.7640449438202247, 0.7640449438202247, 0.7640449438202247, 0.7584269662921348, 0.7584269662921348, 0.7584269662921348, 0.7528089887640449, 0.7528089887640449, 0.7415730337078652, 0.7359550561797753, 0.7528089887640449, 0.7528089887640449, 0.7471910112359551, 0.7471910112359551, 0.7415730337078652, 0.7415730337078652, 0.7471910112359551, 0.7415730337078652, 0.7415730337078652, 0.7415730337078652, 0.7415730337078652, 0.7415730337078652, 0.7247191011235955, 0.7303370786516854, 0.7415730337078652, 0.7471910112359551, 0.7471910112359551, 0.7528089887640449, 0.7471910112359551, 0.7471910112359551, 0.7471910112359551, 0.7471910112359551, 0.7415730337078652, 0.7415730337078652, 0.7359550561797753, 0.7415730337078652, 0.7303370786516854, 0.7303370786516854, 0.7247191011235955, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854, 0.7359550561797753, 0.7303370786516854, 0.7247191011235955, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854, 0.7247191011235955, 0.7247191011235955, 0.7247191011235955, 0.7247191011235955, 0.7247191011235955, 0.7247191011235955, 0.7247191011235955, 0.7247191011235955, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854, 0.7359550561797753, 0.7359550561797753, 0.7303370786516854, 0.7191011235955056, 0.7247191011235955, 0.7191011235955056, 0.7247191011235955, 0.7191011235955056, 0.7191011235955056, 0.7247191011235955, 0.7247191011235955, 0.7303370786516854, 0.7359550561797753, 0.7359550561797753, 0.7359550561797753, 0.7303370786516854, 0.7359550561797753, 0.7303370786516854, 0.7247191011235955, 0.7134831460674157, 0.7134831460674157, 0.7134831460674157, 0.7247191011235955, 0.7191011235955056, 0.7134831460674157, 0.7191011235955056, 0.7247191011235955, 0.7191011235955056, 0.7247191011235955, 0.7247191011235955, 0.7191011235955056, 0.7247191011235955, 0.7191011235955056, 0.7247191011235955, 0.7247191011235955, 0.7247191011235955, 0.7247191011235955, 0.7247191011235955, 0.7247191011235955, 0.7247191011235955, 0.7247191011235955, 0.7247191011235955, 0.7303370786516854, 0.7359550561797753, 0.7359550561797753, 0.7359550561797753, 0.7359550561797753, 0.7359550561797753, 0.7359550561797753, 0.7359550561797753, 0.7359550561797753, 0.7359550561797753, 0.7359550561797753, 0.7247191011235955, 0.7359550561797753, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854, 0.7303370786516854]

In [81]:
print("Value of k:")
k=score_list.index(max(score_list))+1
print(k)
print("Accuracy percentage:")
print((max(score_list))*100)

Value of k:
3
Accuracy percentage:
87.64044943820225

In [80]:
knn=neighbors.KNeighborsClassifier(n_neighbors=k)
knn.fit(X_train,y_train).score(X_test,y_test)
y_pred=knn.predict(X_test)
confusion_matrix(y_test,y_pred)

array([[41,  6,  0],
       [ 4, 26,  5],
       [ 5,  2, 89]], dtype=int64)

#### Correct= 156 entries(87.64%)
#### Incorrect= 22 entries