In [182]:
import os
os.chdir(r"C:\Users\User\Desktop\AI-ML\Day 25")

In [183]:
import pandas as pd
dataset=pd.read_csv("train.csv")
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [184]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [185]:
from sklearn import preprocessing

In [186]:
from sklearn.model_selection import train_test_split

In [187]:
from sklearn.naive_bayes import GaussianNB

In [188]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [189]:
le=preprocessing.LabelEncoder()

In [190]:
dataset['Sex']=le.fit_transform(dataset['Sex'])
dataset['Embarked']=le.fit_transform(dataset['Embarked'])

In [191]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2

In [192]:
dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [193]:
dataset=dataset.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)
columns=['Survived','Pclass', 'Sex', 'SibSp',
       'Parch', 'Embarked']

In [197]:
for column_name in columns:
    y=dataset[column_name]
    X=dataset.drop(column_name,axis=1)
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)
    from sklearn.naive_bayes import*
    clf=GaussianNB()
    print(column_name)
    y_pred=clf.fit(X_train,y_train).predict(X_test)
    print(accuracy_score(y_test,y_pred,normalize=True))
    print(confusion_matrix(y_test,y_pred))

Survived
0.7078651685393258
[[80 25]
 [27 46]]
Pclass
0.7078651685393258
[[34  9  4]
 [ 4 16 15]
 [ 5 15 76]]
Sex
0.7134831460674157
[[38 25]
 [26 89]]
SibSp
0.601123595505618
[[94  5  1 23  1  0  0]
 [19  5  0 15  1  0  0]
 [ 3  1  0  0  0  0  0]
 [ 0  0  0  4  2  0  0]
 [ 0  0  0  0  1  0  0]
 [ 0  0  0  0  0  1  0]
 [ 0  0  0  0  0  0  2]]
Parch
0.6179775280898876
[[100   8   0  18   7]
 [  9   3   0   8   3]
 [  4   3   7   4   2]
 [  0   0   0   0   1]
 [  0   0   0   1   0]]
Embarked
0.651685393258427
[[12  5 13]
 [ 0  8  8]
 [16 20 96]]