In [8]:
import os
os.chdir(r"C:\Users\User\Downloads")

In [17]:
import pandas as pd
dataset=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [18]:
dataset.head()

,ID,Age,Experience,Income,ZIPCode,Family,CCAvg,Education,Mortgage,PersonalLoan,SecuritiesAccount,CDAccount,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [14]:
y=dataset.PersonalLoan

In [26]:
x=dataset[['Age','Experience','Income','ZIPCode','Family','CCAvg','Education','Mortgage','SecuritiesAccount','CDAccount','Online','CreditCard']]

In [27]:
import statsmodels.api as sm

In [28]:
X1=sm.add_constant(x)

In [30]:
log=sm.Logit(y,X1)

In [31]:
result=log.fit()

Optimization terminated successfully.
         Current function value: 0.128434
         Iterations 9

In [32]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:           PersonalLoan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4987
Method:                           MLE   Df Model:                           12
Date:                Fri, 07 Aug 2020   Pseudo R-squ.:                  0.5938
Time:                        21:56:52   Log-Likelihood:                -642.17
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const               -11.8272      4.119     -2.871      0.004     -19.901      -3.753
Age                  -0.0535      0.061     -0.873      0.383      -0.174       0.067
Experience            0.0637      0.061      1.045      0.296      -0.056       0.183
Income                0.0546      0.003     20.831      0.000       0.049       0.060
ZIPCode           -3.946e-06   4.08e-05     -0.097      0.923   -8.39e-05     7.6e-05
Family                0.6958      0.074      9.364      0.000       0.550       0.841
CCAvg                 0.1240      0.040      3.128      0.002       0.046       0.202
Education             1.7360      0.115     15.085      0.000       1.510       1.962
Mortgage              0.0005      0.001      0.854      0.393      -0.001       0.002
SecuritiesAccount    -0.9371      0.286     -3.278      0.001      -1.497      -0.377
CDAccount             3.8240      0.324     11.791      0.000       3.188       4.460
Online               -0.6751      0.157     -4.298      0.000      -0.983      -0.367
CreditCard           -1.1197      0.205     -5.463      0.000      -1.521      -0.718
=====================================================================================
"""