In [1]:
import os
os.chdir(r"C:\Users\User\Desktop\AI-ML\Day 24\Project 3")

In [2]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

In [3]:
dataset=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)
dataset.head()

,ID,Age,Experience,Income,ZIPCode,Family,CCAvg,Education,Mortgage,PersonalLoan,SecuritiesAccount,CDAccount,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 5000 non-null   int64
 1   Age                5000 non-null   int64
 2   Experience         5000 non-null   int64
 3   Income             5000 non-null   int64
 4   ZIPCode            5000 non-null   int64
 5   Family             5000 non-null   int64
 6   CCAvg              5000 non-null   float64
 7   Education          5000 non-null   int64
 8   Mortgage           5000 non-null   int64
 9   PersonalLoan       5000 non-null   int64
 10  SecuritiesAccount  5000 non-null   int64
 11  CDAccount          5000 non-null   int64
 12  Online             5000 non-null   int64
 13  CreditCard         5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [5]:
dataset.isnull().sum()

ID                   0
Age                  0
Experience           0
Income               0
ZIPCode              0
Family               0
CCAvg                0
Education            0
Mortgage             0
PersonalLoan         0
SecuritiesAccount    0
CDAccount            0
Online               0
CreditCard           0
dtype: int64

In [6]:
dataset.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIPCode', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'PersonalLoan', 'SecuritiesAccount',
       'CDAccount', 'Online', 'CreditCard'],
      dtype='object')

In [7]:
rf_model=RandomForestClassifier(n_estimators=5000,max_features=1,oob_score=True)

In [9]:
features=['ID', 'Age', 'Experience', 'Income', 'ZIPCode', 'Family', 'CCAvg',
       'Education', 'Mortgage',  'SecuritiesAccount',
       'CDAccount', 'Online', 'CreditCard']

In [10]:
rf_model.fit(X=dataset[features],y=dataset['PersonalLoan'])

RandomForestClassifier(max_features=1, n_estimators=5000, oob_score=True)

In [11]:
print("OOB SCORE:")
print(rf_model.oob_score_)

OOB SCORE:
0.9738

In [12]:
for feature, imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

ID 0.06317740279719666
Age 0.0528441323792857
Experience 0.05232012548403634
Income 0.2915930383758766
ZIPCode 0.060231568561131966
Family 0.06502294204855955
CCAvg 0.1809806400183031
Education 0.1009299964630539
Mortgage 0.05423456160541134
SecuritiesAccount 0.006204353788326418
CDAccount 0.05508714172664838
Online 0.008089662011076762
CreditCard 0.009284434741093363

In [13]:
predictors=pd.DataFrame([dataset['Income'],dataset['CCAvg'],dataset['Education']]).T

In [14]:
model=tree.DecisionTreeClassifier(max_depth=6)

In [15]:
model.fit(X=predictors,y=dataset['PersonalLoan'])

DecisionTreeClassifier(max_depth=6)

In [16]:
with open('DTREE.dot','w') as f:
    f=tree.export_graphviz(model,feature_names=['Income','CCAvg','Education'],out_file=f);

In [17]:
model.score(X=predictors,y=dataset['PersonalLoan'])

0.9738